/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.php-cs-fixer.cache
.phpunit.result.cache
/bootstrap/cache/*
/storage/app/public/*
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*
.vscode/
.idea/
npm-debug.log
yarn-error.log
.DS_Store
